*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

body{
  min-height: 100vh;
  background-image: linear-gradient(120deg,#dbd834,#dd37c7);
}

.login-form{
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: 1s;
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
}

.user-image {
  display: block;
  margin: auto;
}

.txterror{
  border-color: red !important;
}

.txterror span::before{
  color: red !important;
}

.txtsuccess{
  border-color: rgb(0, 175, 0) !important;
}

.txtsuccess span::before{
  color: rgb(0, 175, 0) !important;
}


.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
  transition: .5s;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none; 
  border-radius: 15px;
  background: linear-gradient(120deg,#dbd834,#dd37c7,#dbd834);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.logbtn:hover{
  background: linear-gradient(120deg,#8b8a22,#922483,#8b8a22);
  background-size: 200%;
  background-color: none;
}

.logbtn:active{
  background: linear-gradient(120deg,#4b4a12,#42113c,#4b4a12);
  background-size: 200%;
  background-color: none;
}

.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

.loginfadeout::after {
  opacity: 0;
}
