<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

      <div class="login-form">

        <h1> LOGIN </h1>

        <div class="txtb">
          <input id="username" type="text">
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          <input id="password" type="password">
          <span data-placeholder="Password"></span>
        </div>

        <button id="submitbtn" class="logbtn"> Login </button>

        <div class="bottom-text">
          <a id="register" href="#">Sign up</a>
        </div>
      </div>

      <script type="text/javascript">

      var url = "<%= url %>"

      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      $("#submitbtn").click( function(){
        
        var username = $('#username').val();
        var password = $('#password').val();

        if(username == "")
        { $('#username').closest('div').addClass("txterror"); }
        else
        { $('#username').closest('div').removeClass("txterror"); }
        
        if(password == "")
        { $('#password').closest('div').addClass("txterror"); }
        else
        { $('#password').closest('div').removeClass("txterror"); }

        if(username != "" && password != "")
        {
          $.ajax({
              type: "POST",
              dataType: "json",
              url: url,
              data: {
                username: username,
                password: password
              },
              success: function(response){
                var code = response.code
                console.log(response.code);
                if(code == 200)
                {
                  $('#username').closest('div').removeClass("txterror");
                  $('#password').closest('div').removeClass("txterror");

                  $('#username').closest('div').addClass("txtsuccess");
                  $('#password').closest('div').addClass("txtsuccess");

                  $('#password').closest('.login-form').addClass("loginfadeout");
                }
                else if(code == 404)
                {
                  $('#username').closest('div').removeClass("txterror");
                  $('#password').closest('div').addClass("txterror");
                }
                else
                {
                  $('#password').closest('div').addClass("txterror");
                  $('#username').closest('div').addClass("txterror");
                }
              }
          });
        }
        
      });

      </script>


  </body>
</html>
